<?php
function formatRow(\App\Model\Transaction\TransactionInterface $transaction, $withCheckbox = false)
{
    $transactionFieldName = "newTransaction[{$transaction->getPaymentId()}]";
    $checkboxCell = $withCheckbox ? "<td>
            <input type='hidden' name='{$transactionFieldName}[payment_id]' value='{$transaction->getPaymentId()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_date]' value='{$transaction->getPaymentDate()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_amount]' value='{$transaction->getPaymentAmount()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_currency]' value='{$transaction->getPaymentCurrency()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_bank_account_sender]' value='{$transaction->getPaymentBankAccountSender()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_bank_account_receiver]' value='{$transaction->getPaymentBankAccountReceiver()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_bank_account_receiver_nrb]' value='{$transaction->getPaymentBankAccountReceiverNrb()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_purpose]' value='{$transaction->getPaymentPurpose()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_sender_name]' value='{$transaction->getPaymentSenderName()}'>
            <input type='hidden' name='{$transactionFieldName}[payment_sender_surname]' value='{$transaction->getPaymentSenderSurname()}'>
            <input type='hidden' name='{$transactionFieldName}[import]' value='0'>
            <input type='checkbox' name='{$transactionFieldName}[import]' value='1'>
        </td>" : '';
    return "\n\t\t<td>
        <table class='transactionItem ".($withCheckbox?'new':'')."'>
            <tr>
                <td class='date'>{$transaction->getPaymentDate()}</td>
                <td class='name'>{$transaction->getPaymentSenderName()} {$transaction->getPaymentSenderSurname()}</td>
                <td class='amount'>{$transaction->getPaymentAmount()}</td>
                <td class='bano'>{$transaction->getPaymentBankAccountSender()}</td>
                $checkboxCell
            </tr>
        </table>
    </td>\n";
}
?>
<form method="post">
<table class="comparePayments">
    <tr>
        <th>EXISTS</th>
        <th>UPLOADED</th>
    </tr>
    <?php
    foreach ($data['existingTransactionList'] as $transaction) {
        $cell = formatRow($transaction);
        echo "
    <tr class='existingTransaction'>
        $cell
        $cell
    </tr>";
    }
    foreach ($data['newTransactionList'] as $transaction) {
        $cell = formatRow($transaction, true);
        echo "
    <tr class='newTransaction'>
        <td class='notExists'>NOT EXISTS</td>
        $cell
    </tr>";
    }
    if (count($data['newTransactionList'])) {
        echo "<tr><td colspan='2' class='command'>
                <input type='checkbox' id='checkAll' onclick='alert(\"Sorry, not yet :)\")'> Check / uncheck all
                <input type='submit'>
            </td></tr>";
    }
    ?>
</table>
    <input type="hidden" name="action" value="importPayments">
</form>
<script>

</script>