<?php
$bankListOptions = [];
$selectedTransactionListFormat = isset($data['selectedTransactionListFormat']) && $data['selectedTransactionListFormat'] ? $data['selectedTransactionListFormat'] : '';

if (isset($data['bankList'])) {
    foreach ($data['bankList'] as $bankInfo) {
        foreach ($bankInfo['format'] as $format) {
            $value = "{$bankInfo['code']}--$format";
            $selected = $selectedTransactionListFormat == $value ? ' selected' : '';
            $bankListOptions[] = "<option value='{$bankInfo['code']}--$format' $selected>{$bankInfo['name']} ($format)</option>";
        }
    }
}
?>
<div>
    <h1>Import payments</h1>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="comparePayments">
        <label>Bank: <select name="transactionListFormat">
            <option></option>
            <?=join("\n\t\t\t", $bankListOptions)?>
        </select></label> &nbsp; &nbsp;
        <label>Choose a file to upload: <input type="file" name="transactionListFile"></label> &nbsp;
        <input type="submit" value="Upload file">
    </form>
    <?=isset($data['errMsg']) ? '<div class="err">' . $data['errMsg'] . '</div>' : ''?>
</div>
