<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$pageTitle?:''?></title>
    <style>
        body {font-family: Arial;}
        h1,a {color: maroon;}
        div {margin:2px;}
        .err {font-weight: bold; color: red; }
        table.comparePayments {width: 100%; border-collapse: collapse;}
        table.comparePayments > tr, table.comparePayments > tbody > tr {height: 30px;}
        table.comparePayments > tr > td, table.comparePayments > tbody > tr > td {}
        tr.existingTransaction > td:first-child, tr.newTransaction > td:first-child {
            border-right: 1px solid dimgray;
        }
        tr.existingTransaction > td, tr.newTransaction > td {
            border-bottom: 1px solid dimgray;
            width: 50%;
            font-size: 90%;
            text-align: center;
        }
        td.notExists {color:red;}
        table.comparePayments .transactionItem {width: 100%; border-collapse: collapse;}
        table.comparePayments .transactionItem td {border: 1px solid silver; margin: 0; padding 10px;}
        table.comparePayments .transactionItem td.date {width: 20%;}
        table.comparePayments .transactionItem td.name {width: 36%;}
        table.comparePayments .transactionItem td.bano {width: 40%;}
        table.comparePayments .transactionItem:nth-child(even) {background-color: #eee;}
        table.comparePayments .transactionItem.new {background-color: rgba(142, 136, 255, 0.37);}
        table.comparePayments td.command {text-align: right;}
    </style>
</head>
<body>
<?=$pageBody?:''?>
</body>
</html>